<!DOCTYPE HTML>
<html>
	<head>
		<title>{{site.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper-->
			<div id="wrapper">

				{% include nav.html %}

				<div id="main">

						<!-- Me -->
							<article id="me" class="panel">
								<header>
									<h1>{{site.name}}</h1>
									<p>{{site.bio}}</p>
								</header>
								<div class="pic">
									<img src="images/me.jpg" alt="" />
								</div>
							</article>
					</div>

				{% include footer.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>